---
title: API de lecture
parent: Home
description: '<p>L'API de lecture est utilisée pour récupérer les données de vidéo et de liste de lecture à partir de Video Cloud. Il est généralement utilisé pour transmettre des données vidéo à un lecteur sur une page Web ou dans une application mobile.&nbsp;L'API de lecture est une API à faible latence destinée à être utilisée côté client pour récupérer des données de vidéo ou de liste de lecture à partir de pages Web ou d'applications mobiles. Il ne s'agit pas d'une API générale de gestion des médias à utiliser pour intégrer Video Cloud à votre CMS ou à d'autres systèmes - pour cela, vous devez utiliser le <a href="/cms/index.html">API CMS</a>.</p>

<p>L'authentification pour l'API Playback requiert une clé de stratégie, que vous pouvez obtenir à l'aide du<a href="/policy/index.html"> API de règles</a> ou <a href="/policy/getting-started/policy-keys.html">d'un joueur</a> sur ton compte.</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6004281287001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>