---
title: Autorisation de lecture
parent: Home
description: "Brightcove's Playback Authorization Service (PAS) offers an extra level of security when delivering DRM-protected content with Dynamic Delivery. This is particularly useful for customers who want to control access to their content, and prevent unauthorized sharing of content."
layout: staging
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <section class="card-wrapper"> {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %} {% endif %} {% endfor %} 
    <!-- remove sections below when this goes live -->
    <section class="bcls-card-small" >
      <div class="card-content">
        <h2>Commencer</h2>
        <ul>
          <li><a href="/playback-authorization/getting-started/overview-playback-authorization-service.html">Aperçu: DRM avec service d'autorisation de lecture</a></li>
          <li><a href="/playback-authorization/getting-started/technical-workflow-pas.html">Implémentation de DRM avec le service d'autorisation de lecture</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" >
      <div class="card-content">
        <h2>Guides</h2>
        <ul>
          <li><a href="/playback-authorization/guides/create-jwt-staging.html">Créer un <span>Jeton Web JSON</span> (JWT) - mise en scène</a></li>
          <li><a href="/playback-authorization/guides/additional-apis-for-pas.html">API supplémentaires pour le service d'autorisation de lecture</a></li>
          <li><a href="/playback-authorization/guides/stream-concurrency.html">Limitation des flux simultanés par spectateur</a></li>
          <li><a href="/playback-authorization/guides/using-pas-with-bcp.html">Utilisation de DRM d'autorisation de lecture avec Brightcove Player</a></li>
          <li><a href="/playback-authorization/guides/using-pas-with-sdks.html">Utilisation de DRM d'autorisation de lecture avec les SDK natifs</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" >
      <div class="card-content">
        <h2>Les références</h2>
        <ul>
          <li><a href="/playback-rights/references/audit-api/reference.html">Référence de l'API d'audit</a></li>
          <li><a href="/playback-rights/references/blacklist-api/reference.html">Référence de l'API de liste noire</a></li>
          <li><a href="/playback-rights/references/key-api/reference.html">Référence API clé</a></li>
        </ul>
      </div>
    </section>
  </section>
</article>