---
title: Droits de lecture
parent: Home
description: "Brightcove's Playback Rights Management Service provides a scalable and expressive way to manage video playback."
layout: staging
---

<style>
  .card-icon je { color: rgb(9, 7, 140); } .card-wrapper { justify-content: start; }

</style>

<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>

  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %} {% endif %} {% endfor %}

    <!-- remove sections below when this goes live -->
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>Commencer</h2>
        <ul>
          <li><a href="/playback-rights/getting-started/overview-epa.html">Aperçu: Service des droits de lecture</a></li>
          <li><a href="/playback-rights/getting-started/implementing-epa.html">Implémentation de DRM avec le service d'autorisation de lecture</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/guides/index.html'">
      <div class="card-content">
        <h2>Guides</h2>
        <ul>
          <li><a href="/playback-rights/guides/device-limits.html">Implémentation des limites de périphérique</a></li>
          <li><a href="/playback-rights/guides/using-epa-with-bcp.html">Utilisation des droits de lecture avec Brightcove Player</a></li>
          <li><a href="/playback-rights/guides/using-epa-with-sdks.html">Utilisation des droits de lecture avec les SDK natifs</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>Les références</h2>
        <ul>
          <li><a href="/playback-rights/references/epa-errors.html">Référence d'erreur des droits de lecture</a></li>
          <li><a href="/playback-rights/references/reference.html">Référence de l'API d'audit</a></li>
          <li><a href="/playback-rights/references/reference.html">Référence de l'API des droits de lecture</a></li>
          <li><a href="/playback-rights/references/audit-api/reference.html">Référence de l'API d'audit</a></li>
          <li><a href="/playback-rights/references/blacklist-api/reference.html">Référence de l'API de liste noire</a></li>
          <li><a href="/playback-rights/references/devices-api/reference.html">Référence de l'API des appareils</a></li>
          <li><a href="/playback-rights/references/key-api/reference.html">Référence API clé</a></li>
        </ul>
      </div>
    </section>
    <!-- end removal -->

  </section>
</article>