---
title: 'Gestion des vidéos/éléments'
description: 'Cette section fournit des guides sur la gestion des vidéos, des listes de lecture et des ressources multimédias à l'aide de l'API CMS.'
parent: CMS API
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <section>
    <h2 id="Topics_in_this_section">Sujets dans {{ page.title }}</h2>
    <ul class="bcls-topic-list">
      {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
      <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
      {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
    </ul>
</section>
</article>